
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}



@Html.BeginForm("Sil","Tasinmaz",FormMethod.Post, new{id="popupForm"}){

<div class="modal fade" id="sil" tabindex="1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Taşınmaz Sil</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Silmek istediğinize emin misiniz?</div>

            </div>
           
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><a href="/Tasinmaz/Sil/@ViewBag.id" class="glyphicon glyphicon-ok-sign" name=""></a> Sil</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Vazgeç</button>
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
}
